header {
  height: 80vh;
  background-color: black;
}

.banner {
  height: 100%;
  display: flex;
}

svg {
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;

  .firstName {
    font-size: 3rem;
  }
  .lastName {
    font-size: 5rem;
  }
  .firstName,
  .lastName {
    transition: 1s all;
  }
}

@include tablet-only {
  svg {
    .firstName {
      font-size: 6rem;
      transform: translateY(-5%);
    }
    .lastName {
      font-size: 10rem;
      transform: translateY(5%);
    }
  }
}

@include desktop-only {
  svg {
    .firstName {
      font-size: 9rem;
      transform: translateY(-10%);
    }
    .lastName {
      font-size: 15rem;
      transform: translateY(10%);
    }
  }
}
