html {
  scroll-behavior: smooth;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 7px;
  border: 6px solid transparent;
  background-clip: content-box;
  transition: all 100ms ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9c9c9c;
  background-clip: border-box;
}

/*Custom scrollbar colors for each project card*/

.card__back--1reservia::-webkit-scrollbar-thumb {
  background-color: $reservia;
}
.card__back--2ohmyfood::-webkit-scrollbar-thumb {
  background-color: $ohmyfood;
}
.card__back--3chouette::-webkit-scrollbar-thumb {
  background-color: $chouette;
}
.card__back--4orinoco::-webkit-scrollbar-thumb {
  background-color: $orinoco;
}
.card__back--5piiquante::-webkit-scrollbar-thumb {
  background-color: $piiquante;
}
.card__back--6groupomania::-webkit-scrollbar-thumb {
  background-color: $groupomania;
}
