/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: #295D79;
  text-decoration: none;
}

h1 {
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  color: #295D79;
}

h2 {
  font-size: 70px;
  font-family: 'Zen Loop', cursive;
  color: rgba(27, 27, 27, 0.7);
}

footer p {
  font-size: 12px;
  color: rgba(27, 27, 27, 0.7);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 150px;
  }
  footer p {
    font-size: 17px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 100px;
  }
  h2 {
    font-size: 170px;
  }
  footer p {
    font-size: 18px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

footer p {
  text-align: center;
}

body {
  background: url(../../public/img/congruent_pentagon.png) repeat;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.banner {
  text-align: center;
}

.banner h1 {
  padding: 50px;
}

.container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding: 1.5rem;
}
