.card {
  width: 18rem;
  height: 25rem;
  position: relative;
  border-radius: 5px;
  border: 1px solid white;
  margin: 8rem 0;

  &__front,
  &__back {
    position: absolute;
    right: 0;
    top: 10rem;
    width: 18rem;
    height: 15rem;
    padding: 1rem;
  }

  &__front {
    background-color: white;
    color: black;
    transition: opacity 400ms ease-out;
    opacity: 100;
    text-align: center;
    border-radius: 0 0 5px 5px;

    & > h2 {
      margin-top: 0;
    }

    & > p {
      color: black;
    }
  }
  &__back {
    overflow-y: scroll;
    transition: opacity 400ms ease-out;
    opacity: 0;

    & > h3 {
      margin-top: 0;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 18rem;
    height: 10rem;
    padding: 1.5rem;
  }
}

@include desktop-only {
  .card,
  .card__front,
  .card__back,
  .card__image {
    width: 20rem;
  }

  .card {
    &:nth-child(odd) {
      right: 15rem;
    }
    &:nth-child(even) {
      left: 15rem;
    }
  }
}
