.card {
  width: 20rem;
  height: 25rem;
  position: relative;
  border-radius: 2px;
  border: 1px solid white;
  margin: 8rem 0;

  &__front,
  &__back {
    position: absolute;
    right: 0;
    top: 10rem;
    width: 20rem;
    height: 15rem;
    padding: 1rem;
  }

  &__front {
    background-color: white;
    color: black;
    transition: opacity 400ms ease-out;
    opacity: 100;
    text-align: center;

    & > h2 {
      margin-top: 0;
    }

    & > p {
      color: black;
    }
  }
  &__back {
    overflow-y: scroll;
    transition: opacity 400ms ease-out;
    opacity: 0;

    & > h3 {
      margin-top: 0;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 20rem;
    height: 10rem;
    padding: 1.5rem;
  }
}

@include desktop-only {
  .card {
    &--1reservia,
    &--3chouette,
    &--5piiquante {
      right: 15rem;
    }

    &--2ohmyfood,
    &--4orinoco,
    &--6groupomania {
      left: 15rem;
    }
  }
}
