.contact {
  background-color: #977764;
}

.grid-items {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(3, 90px);
  column-gap: 30px;
  row-gap: 30px;
  font-weight: bold;
}

.back {
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.front {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.grid-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  border: 3px solid white;
  border-radius: 3px;
  transition-property: background-color transform;
  transition: 200ms ease-out;

  &:hover {
    transform: scale(1.05);
    background-color: $primary;
  }

  &__mail {
    grid-column: 1 / span 2;
    grid-row: 1;

    &::after {
      content: "Hire me";
      position: absolute;
      opacity: 1;
      transition: opacity 150ms ease-out;
      animation: glow 2500ms ease-out 1000ms infinite;
    }

    &:hover {
      .back {
        opacity: 1;
      }
      &::after {
        opacity: 0;
      }
    }
  }

  &__cv {
    grid-column: 3;
    grid-row: 1 / span 2;

    &::after {
      content: "CV";
      position: absolute;
      opacity: 1;
      transition: opacity 150ms ease-out;
    }

    &:hover {
      .back {
        opacity: 1;
      }
      &::after {
        opacity: 0;
      }
    }
  }

  &__codingame {
    grid-column: 1 / span 3;
    grid-row: 3;

    & .front {
      padding: 0 2em;
    }
  }
}

/* Brand icon */
.linkedin {
  @extend %fa-icon;
  @extend .fa-brands;

  &::before {
    content: fa-content($fa-var-linkedin);
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 1px #fff;
    transform: scale(1);
  }
  30% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 8px #fff;
    transform: scale(1.1);
  }
  50% {
    text-shadow: 0 0 1px #fff, 0 0 5px #fff;
  }
  100% {
    text-shadow: 0 0 1px #fff;
    transform: scale(1);
  }
}
