section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}
.container {
  height: 100vh;
  scroll-behavior: smooth;
}
.home {
  background-color: $primary;
}
.hero {
  padding: 2rem;
}
.title {
  font-size: 4rem;
}
h1 {
  margin-top: 0;
}
