section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}
.container {
  height: 100vh;
  scroll-behavior: smooth;
}
.home {
  background-color: $color-primary;
}
.hero {
  padding: 2rem;
}
h1 {
  font-size: 3rem;
  margin-top: 0;
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

@include desktop-only {
  .title {
    font-size: 4rem;
  }
}
