.works {
  height: auto;
  padding: 10rem;
  flex-direction: column;
  background-color: black;
}

.img__reservia {
  height: 100%;
  width: 100%;
  transform: scale(1.3) rotate(-15deg);
  transition-property: scale rotate background-color;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
  background-color: white;
  -webkit-mask: url(../images/1reservia.svg) no-repeat center;
  mask: url(../images/1reservia.svg) no-repeat center;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.img__ohmyfood {
  height: 100%;
  width: 100%;
  transform: scale(1.3) rotate(-15deg);
  transition-property: scale rotate;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
}

.skills {
  position: relative;
  margin-left: 10px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

  & > li {
    font-size: smaller;
  }
  & > li::before {
    position: absolute;
    left: -10px;
    content: "- ";
  }
}
