$color-primary: #295d79;
$color-project: #252525;
$color-contact: #977764;
$color-footer: #695045;

/* Project colors */
$reservia: #0065fc;
$ohmyfood: #9356dc;
$chouette: #ffb200;
$orinoco: #3da873;
$piiquante: #eb0000;
$groupomania: #33b9db;
