nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  padding: 20px;
  color: white;

  & > ul {
    display: flex;
    justify-content: space-between;

    & > li {
      padding: 0.5rem 1.5rem;
    }
  }
}