body {
    background: url(../img/congruent_pentagon.png) repeat;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.banner {
    text-align: center;

    h1 {
        padding: 50px;
    }
}